.gdi-logo {
    color: rgb(57, 110, 188);
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    text-transform: capitalize;
}
.gdi-icon {
    display: flex;
    font-size: .8em;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: auto 4px;
    text-align: center;
    background-color: rgb(57, 110, 188);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#gdi-main-content {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    top: 0px;
    bottom: 0px;
}
.initial-title {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(57, 110, 188);
}
.initial-subtitle {
    font-size: .5em;
    color: rgb(99, 129, 194);
}
.question-text {
    font-size: 2.5em;
    padding: 0 5%;
    color: rgb(57, 110, 188);
}
body {
    /* display: flex; */
    padding: 0px;
    margin: 0px;
    background-color: rgb(184, 204, 247);
}
footer {
    background-color: rgb(99, 129, 194);
    color: rgb(184, 204, 247);
    display: flex;
    align-items: center;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}