html {
    height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px;
    margin: 0px;
    background-color: rgb(184, 204, 247);
}
.gdi-logo {
    color: rgb(57, 110, 188);
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    padding:30px 60px;
}
.gdi-icon {
    display: flex;
    font-size: .8em;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    margin: auto 4px;
    text-align: center;
    background-color: rgb(57, 110, 188);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
#gdi-main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-grow: 1;
}
#gdi-main-content-spacer {
    flex-grow: 1;
}
.gdi-initial-title {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(57, 110, 188);
}
.gdi-initial-subtitle {
    font-size: .5em;
    color: rgb(99, 129, 194);
}
.gdi-question-text {
    font-size: 2.5em;
    padding: 0 5%;
    color: rgb(57, 110, 188);
}
.gdi-header {
    display: flex;
    height: 100px;
}
.gdi-main {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.gdi-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(138, 164, 220);
    color: rgb(251, 251, 251);
    height: 20px;
    padding: 20px 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: height 500ms ease, color 500ms linear, background-color 500ms linear;
}
.gdi-footer:hover {
    height: 400px;
    color: rgb(184, 204, 247);
    background-color: rgb(99, 129, 194);
}
.gdi-footer-logo {
    flex-grow: 2;
}
.gdi-resource-lists {
    flex-grow: 1;
}
.gdi-resource-header-grp {
    display: flex;
    justify-content: space-evenly;
}
.gdi-resource-header {
    transition: color 100ms linear;
}
.gdi-resource-header:hover {
    color: white;
    cursor: pointer;
}